.top-nav {
    position: relative;
    z-index: 103;
    height: 30px;
    line-height: 26px;
    background-color: #f5f5f5;
    color: #777;
}
*{
    padding: 0px;
    margin: 0px;
}
.top-nav .head-inner {
    z-index: 103;
}
.head-inner {
    width: 900px;
    margin: 0 auto;
    position: relative;
}
.c-h-area {
    display: inline-block;
    position: relative;
    z-index: 10;
    vertical-align: top;
    color: #333;
}
.c-h-area-title {
    display: block;
    line-height: 27px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 8px;
    position: absolute;
    left: 105px;
    top: -2px;
}
.top-nav-tool{
    font-size: 5px;
    position: relative;
    left: 300px;
    top:-2px;

}
li{
    list-style-type:none;
    float: left;
    padding: 0 8px;

}
.user-infor {
    left: 0;
    _zoom: 1;
    padding-top: 14px;
    background-color: #fff;
    z-index: 4;
}
.top-nav-dis {
    position: absolute;
    top: 25px;
    width: 250px;
    height: 150px;
    padding: 10px 0;
    border: 1px solid #cdcdcd;
    color: #333;
}
.ico-arw-bodder {
    background: #fff;
    position: absolute;
    height: 10px;
    top: -3px;

}
.user-infor .top-nav-inf {
    padding: 15px 20px 0;
    position: relative;
}
.top-nav-pic-avater {
    background-image: url(images/sprites-hash-9b207a41.png);
    background-position: -162px -145px;
    width: 38px;
    height: 38px;
    border-radius: 100%;
    display: block;
    position: relative;
    left: -1px;
    bottom: -10px;
}
.top-nav-pic-infs {
    border-bottom: #d6d6d6 1px dotted;
    width: 175px;
    padding-left: 5px;
    height: 32px;
    line-height: 32px;
    text-align: left;
    position: absolute;
    left: 65px;
    bottom: 0px;
}
.top-nav-pic-infs a {
    text-decoration: none;
}